<div class="modal event-battle">
	<div class="modal-inner">
		<h2 class="modal-header">{{getStaticText 'battle_header'}}</h2>
		<div class="modal-content">
			<div class="event-battle-row">
				<div class="event-battle-column {{#compare turn '===' 'player'}}active{{/compare}}">
					<div class="event-battle-content">
						<h2>{{player.name}}</h2>
						<h4>{{player.genre}}</h4>
						<div>Health: {{player.health}}</div>
						<div class="event-battle-actions">
							<h4>Attack using:</h4>
							<ul>
								{{#each attacks}}
									<li class="event-battle-action" data-action="{{this}}">{{this}}</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				<div class="event-battle-column feed text-center">
					<h1>VS.</h1>
					{{#each feed}}
					{{#if isAttack}}
						<div class="mb-1 {{#if hit}}event-battle-hit{{else}}event-battle-miss{{/if}}">
							<strong class="event-battle-attacker">{{attacker.name}}</strong> {{#if hit}}HITS{{else}}MISS{{/if}} with a <strong>{{type}}</strong> attack of {{power}} against <strong class="event-battle-defender">{{defender.name}}</strong> defense of {{defense}}
						</div>
						{{else}}
						<div class="mb-1">
							<h4>The Winner is: {{winner}}</h4><p>{{winner}} wins the prize money (£{{prize}})</p>
						</div>
					{{/if}}
					{{/each}}
				</div>
				<div class="event-battle-column {{#compare turn '===' 'opponent'}}active{{/compare}}">
					<div class="event-battle-content">
						<h2>{{opponent.name}}</h2>
						<h4>{{opponent.genre}}</h4>
						<div>{{getStaticText 'global_health'}}: {{opponent.health}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
