{{#each this}}
	{{#if key}}
		<p><small class="text-muted">{{date}}</small><br /><span class="feed-text-to-speech">{{getText key replaceObj}}</span></p>
	{{/if}}
	{{#if event}}
		<p>
			<small class="text-muted">{{date}}</small>
			<br />
			<span class="feed-text-to-speech">{{replacer event.msg}}</span>
			{{#if event.action}}
			  {{#compare @index '===' 0}}
					<strong class="feed-event-action">
						<span class="feed-action-to-speech">{{event.action}}</span>
						<button class="btn feed-event-action-yes" type="button">Yeah</button>
						<button class="btn feed-event-action-no" type="button">Nah</button>
					</strong>
				{{/compare}}
			{{/if}}
		</p>
	{{/if}}
{{/each}}