<div class="modal">
	<div class="modal-inner">
		<h2 class="modal-header">Recording studio</h2>
		{{getNpc 'manager'}} reckons that the recording time for this song is {{days}} days
		<p></p>
		<div class="modal-content">
			 	<div class="row flex-end mb-2">
			 		<strong>Cost £<span class="studio-cost">0</span></strong>
			 	</div>
			 	<div class="row mb-2">
			 		<label for="SongTitle">Which studio should we book: </label>
			 		<select id="studioSelect" class="recording-select">
						<option value="">Select studio</option>
						{{#each studios}}
							<option value="{{@key}}" data-cost="{{cost}}" data-quality="{{quality}}">{{@key}} - £{{cost}}/day</option>
						{{/each}}
					</select>
			 	</div>
			 	<div class="row mb-2">
			 		<label for="SongTitle">Which producer should we book: </label>
			 		<select id="producerSelect" class="recording-select">
						<option value="">Select producer</option>
						{{#each producers}}
							<option value="{{@key}}" data-cost="{{cost}}" data-quality="{{quality}}">{{@key}}  - £{{cost}}</option>
						{{/each}}
					</select>
			 	</div>
			    <div class="row mb-2">
			        <label for="SongTitle">Write a song title: </label>
			        <input type="text" class="text-capitalize" id="SongTitle">
			        <button type="button" class="btn generate-song-title">Generate a title</button>
			    </div>
			    <div class="row mt-2">
			    	<button type="button" class="btn save-song-title">Let's get to it!</button>
			    </div>

		</div>
	</div>
</div>